<h2>Experience</h2>
<div class="row">
    <div class="column">
        <p>System Developer Analyst</p>
        <p>Accenture</p>
        <p>Nov 2018 - </p>
        <p>Developer within Capital Market Platforms practice.</p>
    </div>

    <div class="column">
        <p>Spacecraft Database Developer</p>
        <p>Airbus</p>
        <p>Developer for the next European Mars Rover. Worked on harness creation for correct
            communication between central software, on-board computer and on-board data acquisition devices.
        </p>
    </div>

    <div>
        <img  src="https://media-exp1.licdn.com/media-proxy/ext?w=800&h=800&f=n&hash=RUyB6cRrvw0PTGejMm7dL8pYjUE%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta9Er0Vinkhwfjw8177yE41y87UNCVordEGXyD3u0qYrdfyW_KJHdK-aguVUUeikclAE1f_L6RzbiD8K8IorpdIolg8G0cY24ZxUBbFI8lWxI">
    </div>

    <div class="column">
        <p>BSc Computer Science</p>
        <p>Queen Mary University of London</p>
        <p>Graduated with First Class overall with hons.</p>
    </div>
</div>
<h2>Affiliation</h2>
<div class="row">
    <div class="column">
        <p>Member</p>
        <p>BCS, The Chartered Institute for IT</p>
    </div>
</div>
