.column {
    width: 33.33%;
    padding: 15px;
}

img {
    margin-left: 50px;
    max-width: 100%;
    width: 25%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
