<h2>Experience</h2>
<div class="row">
    <div class="column">
        <p>System Developer Analyst</p>
        <p>Accenture</p>
        <p>Nov 2018 - </p>
        <p>Developer within Capital Market Platforms practice.</p>
    </div>

    <div class="column">
        <p>Spacecraft Database Developer</p>
        <p>Airbus</p>
    </div>

    <div class="column">
        <p>BSc Computer Science</p>
        <p>Queen Mary University of London</p>
        <p>Graduated with First Class overall with hons.</p>
    </div>
</div>
<h2>Affiliaion</h2>
<div class="row">
    <div class="column">
        <p>Member</p>
        <p>BCS, The Chartered Institute for IT</p>
    </div>
</div>
