<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>{{ title }}</h1>
        <div>
            <a mat-button [routerLink]="'/home'">Home</a>
            <a mat-button [routerLink]="'/about'">About</a>
            <a mat-button [routerLink]="'/skills'">Skills</a>
            <a mat-button [routerLink]="'/interests'">Interests</a>
            <a mat-button [routerLink]="'/contact'">Contact</a>
        </div>
        <span class="fill-remaining-space"></span>
        <div>
            <a mat-icon-button>
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </a>
            <a mat-icon-button>
                <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
            </a>
            <a mat-icon-button>
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a>
            <a mat-icon-button>
                <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
            </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>