.container {
    position: relative;
    width: 90%;
    height: 50%;
    /* background: aqua; */
    margin: auto;
    /* padding: 50px; */
}
.frontend-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 15%;
    height: 200px;
    /* border: 3px solid red; */
}
.backend-container {
    position: absolute;
    top: 20px;
    left: 275px;
    width: 15%;
    height: 200px;
    /* border: 3px solid red; */
}
.bigdata-container {
    position: absolute;
    top: 20px;
    left: 525px;
    width: 15%;
    height: 200px;
    /* border: 3px solid red; */
}
.database-container {
    position: absolute;
    top: 20px;
    left: 780px;
    width: 15%;
    height: 200px;
    /* border: 3px solid red; */
}
.robotics-container {
    position: absolute;
    top: 20px;
    left: 1025px;
    width: 15%;
    height: 200px;
    /* border: 3px solid red; */
}