<div class="row">
    <div class="column">
        <h2>Backend</h2>
        <p>Worked as part of a team to develop a module in Java for a music playing application. Also used the Python based
            Django framework to build a news web app and the REST framework to support a JSON based web API.
            Developed a client for retrieving Hacker News headlines using Python and deployed release to PyPi.</p>
    </div>

    <div class="column">
        <h2>Front End</h2>
        <p>On the frontend, I used jQuery with AJAX. Used Angular to 
            build this web site and a nearby restaurant browsing app which integrates with Foursquare API.
        </p>
    </div>

    <div class="column">
        <h2>Big Data</h2>
        <p>Hadoop and Spark to perform sentiment analysis on Twitter data, 
            aggregations on financial data and clustering of Stack Overflow 
            data. I have also performed network analysis on large graphs using
            iGraph on R; using measures such as centrality and modularity for graph comparison and Gephi for graph
            visualisation.</p>
    </div>

    <div class="column">
        <h2>Database</h2>
        <p>Leveraged JDBC for persistence in Java application.
            Used MongoDB and Firebase Realtime Database. Knowledge of 
            SQL, including experience working with Oracle, Postgres and SQLite.
        </p>
    </div>

    <div class="column">
        <h2>Robotics</h2>
        <p>Worked with robotics for my undergraduate research project, 
            using Gazebo for simulation and Robot Operating System (ROS) 
            for actuator control. Unity3D and the Oculus Rift head-mounted 
            display was then used to remotely control the robot.</p>
    </div>
</div>