.container {
    width: 90%;
    height: 50%;
    background: aqua;
    margin: auto;
    padding: 50px;
}

.frontend-container {
    width: 15%;
    height: 200px;
    background: red;
    float: left;
}

.backend-container {
    margin-left: 20%;
    height: 200px;
    width: 15%;
    background: red;
}