<section class="container">
    <div class="frontend-container">
        <app-frontend></app-frontend>
    </div>
    <div class="backend-container">
        <app-backend></app-backend>
    </div>
    <div class="bigdata-container">
        <app-bigdata></app-bigdata>
    </div>
    <div class="database-container">
        <app-database></app-database>
    </div>
    <div class="robotics-container">
        <app-robotics></app-robotics>
    </div>
    <!-- <div class="game-container">
        <app-game></app-game>
    </div> -->
</section>
