<div>
    <ul>
        <li>Secretary of Queen Mary Salsa Society</li>
        <li>Competed in University Fencing Team</li>
        <li>Winner of 3 grand prizes in various hackathons</li>
        <li>Awarded scholarship by university to perform self directed research in Cambridge</li>
        <li>Awarded sponsorship by university which enabled my team to deliver presentation 
            in a tech conference in Silicon Valley</li>
        <li>Former member of the 'Youth Board' in London Legacy Development Corp</li>
    </ul>
</div>